<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('statics', path='images/favicon.ico') }}">
    <title>{{ title }} FastApi101</title>
    <link rel="stylesheet" href="{{ url_for('statics', path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('statics', path='css/auth.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('statics', path='fonts/fontawesome/css/fontawesome.css') }}" >
    <link rel="stylesheet" href="{{ url_for('statics', path='fonts/fontawesome/css/brands.css') }}" >
    <link rel="stylesheet" href="{{ url_for('statics', path='fonts/fontawesome/css/solid.css') }}" >

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    {% block styles %}{% endblock %}
</head>
<body>

    <div id="app">
    {% block content %}{% endblock %}
    </div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
{% block scripts %}{% endblock %}
</body>
</html>