{% extends 'layouts/auth.html' %}

{% block styles %}
<style>
#app .col-left h2 {
    width: 380px;
    color: var(--cor-principal);
}
#app .col-right header {
    font-size: 2.5rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--fg-light);
    /* background-color: var(--fg-light); */
}
</style>
{% endblock %}

{% block content %}
<div id="app">

    <div class="col-left">

        <h2>LOGIN</h2>

        <form action="/auth/login" method="post" class="form-auth">

            <label for="email_login">
                <!-- <small>E-mail</small> -->
                <input 
                    id="email_login" 
                    type="email" 
                    name="email" 
                    value="{{ email or '' }}" 
                    placeholder="Email" 
                    required>
            </label>
        
            <label for="password">
                <!-- <small>Senha</small> -->
                <input id="password"  type="password" 
                    name="password" placeholder="Senha" required>
            </label>
        
            <div class="form-group">
                <input type="submit" value="ENTRAR" class="btn btn-primary">
            </div>
        
            <div class="form-group">
                <p>Ainda não tem uma conta? <a href="/auth/register">Crie uma nova conta</a></p>
            </div>
        
        </form>
    </div>

    <div class="col-right">
        <header>
            <h1>FastAPI 101</h1>
        </header>
    </div>

</div>
{% endblock %}


{% block scripts %}

{% if errors %}
<script>
Toastify({
    text: "{{ errors|safe }}",
    duration: 15000,
    close: true,
    gravity: "top", // `top` or `bottom`
    position: "left", // `left`, `center` or `right`
    stopOnFocus: true, // Prevents dismissing of toast on hover
    style: {
      background: "linear-gradient(to right, #e83838, #a10303)",
    },
    onClick: function(){
        console.log('{{ errors|safe }}')
    } // Callback after click
  }).showToast();
</script>
{% endif %}

{% endblock %}