{% extends 'layouts/auth.html' %}

{% block form_auth %}
<form
    id="form-register"
    class="form-auth"
    action="/auth/register" 
    method="post" >

    <header>
        <h2>FastApi<strong>101</strong></h2>
        <strong>CRIE SUA CONTA</strong>
        {% if created %}
        <span class="form-validation-success">{{ created }}</span>
        {% endif %}
    </header>

    <label for="name" class="form-label">
        <small>Nome</small>
        <input 
            id="name" 
            type="text" 
            name="name" 
            value="{{ user_data.name }}" 
            placeholder="Nome" required>
        {% if errors.name_error is defined %}
        <span class="form-validation-error">{{ errors.name_error }}</span>
        {% endif %}
    </label>

    <label for="email_register">
        <small>E-mail</small>
        <input 
            id="email_register" 
            type="text" 
            name="email" 
            value="{{ user_data.email }}" 
            placeholder="Email" required>
        {% if errors.email_error is defined %}
        <span class="form-validation-error">{{ errors.email_error }}</span>
        {% endif %}
    </label>

    <label for="password">
        <small>Senha</small>
        <input 
            id="password" 
            type="password" 
            name="password" 
            value="{{ user_data.password }}" 
            placeholder="Senha" required>
        {% if errors.password_error is defined %}
        <span class="form-validation-error">{{ errors.password_error }}</span>
        {% endif %}
    </label>

    <label for="confirm_pass">
        <small>Confirme a Senha</small>
        <input 
            id="confirm_pass" 
            type="password" 
            name="confirm_pass" 
            value="{{ user_data.confirm_pass }}" 
            placeholder="Digite a senha novamente" required>
        {% if errors.confirm_pass_error is defined %}
        <span class="form-validation-error">{{ errors.confirm_pass_error }}</span>
        {% endif %}
    </label>

    <div class="form-group">
        <input type="submit" value="Criar Conta" class="btn btn-primary">
        <input type="reset" value="Limpar" class="btn btn-secondary">
    </div>

    <div class="form-group">
        <small>Já possui uma conta? <a href="/auth/login">Faça login para ENTRAR</a></small>
    </div>

</form>
{% endblock %}