<header class="top">
    <div class="top-container">

        <div class="logo">
            <i class="fa-brands fa-github-alt"></i>
            <!-- <h2>Fast<span>API </span> 101</h2> -->
        </div>

        <div class="menu">
            <ul>
                <li><a href="{{ url_for('index') }}">inicio</a></li>
                <li><a href="{{ url_for('contato') }}">contato</a></li>
            </ul>

            <ul>
                {% if 'email' in user and not errors %}
                <small><strong>Olá</strong> {{ user.name }}, Bem vindo(a)!</small>
                <li><a href="{{ url_for('index') }}">sair</a></li>
                {% elif endpoint == 'login' %}
                <li><a href="{{ url_for('register') }}">Resgistrar</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>