<footer class="footer">
    <div class="footer-container">

        <section>
            <h3>FastAPI 101</h3>
            
            <p>Sistema de gestão, autenticação e permissionamento de usuários</p>
            <small>Aplicativo experimental com finalidade de aprender o FastAPI</small>
        </section>

        <section>
            <form action="mailto:dalmofelipe.dev@gmail.com" method="get" enctype="text/plain">
                <label for="email" style="display: flex; flex-direction: column; align-items: flex-start; ">
                    <span style="font-size: 1.35rem;">Contrate um dev iniciante</span>
                    <input type="email" name="email" id="email" 
                        class="input-form"
                        placeholder="Informe seu melhor e-mail">
                </label>
            </form>
        </section>

        <section>
            <a href="https://www.github.com/dalmofelipe/FastApi101" 
                target="_blank"
                class="contatos">
                <i class="fa-brands fa-github-alt"></i>
            </a>
            <a href="https://www.linkedin.com/in/dalmofelipe" 
                class="contatos"
                target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </section>

    </div>
</footer>
