<header class="top">
    <div class="top-container">

        <div class="logo">
            <i class="fa-brands fa-github-alt"></i>
            <!-- <h2>Fast<span>API </span> 101</h2> -->
        </div>

        <div class="menu">
            <ul>
                <li><a href="{{ url_for('index') }}">inicio</a></li>
                <li><a href="#">técnicas</a></li>
                <li><a href="#">contato</a></li>
                <li style="margin-left: auto;" ><a href="{{ url_for('login') }}">login</a></li>
            </ul>
        </div>

    </div>
</header>