@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: #555;
    background-color: #d2d8de;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.btn {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    color: #555;
    flex-grow: 1;
}



#app {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    padding: 0px 25px 25px 25px;
    margin-top: 125px;
}

.form-auth header {
    width: 100%;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-auth header h2 {
    margin: 0;
    font-weight: 400;
}

.form-auth label {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.form-auth label input {
    width: 350px;
    padding: 10px;
    font-size: 15px;
}

.form-group {
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-group small {
    text-align: center;
}
.form-validation-error {
    font-size: 14px;
    color: rgb(167, 31, 31);
}
.form-validation-success {
    font-size: 14px;
    color: rgb(31, 167, 83);
}