{% extends 'layouts/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('statics', path='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="homepage">
    <header>
        <i class="fa-brands fa-github-alt"></i>
        <h1>FastAPI <span>101</span></h1>
        <small>Index Page</small>
    </header>
    <main>
        <p>Um commit a cada funcionalidade!</p>
        <p>{{ describe }}</p>

        <div class="userlogged">
        {% if user is defined %}
        <p><strong>Usuário Logado</strong>: {{ user.name }}</p>
        <p><strong>E-mail</strong>: {{ user.email }}</p>
        {% else %}
        <p>Nenhum usuário logado no momento! <br> <a href="{{ url_for('login') }}">Clique aqui para Entrar</a></p>
        {% endif %}
        </div>

        <small id="time"></small>
    </main>
    <footer>
        <a href="https://github.com/dalmofelipe/FastApi101">@dalmofelipe</a>
    </footer>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('statics', path='js/indexPage.js') }}"></script>
{% endblock %}
