{% extends 'layouts/main.html' %}


{% block styles %}
<style>
.error500 {
    width: 100%;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.error500 a {
    color: var(--cor-destaque);
    font-size: 18px;
    transition: all .2s ease;
    text-decoration: none;
}
.error500 a:hover {
    color: var(--fg-light);
}
</style>
{% endblock %}


{% block banner %}
<div class="error500">
    <h1>500 Internal Server Error</h1>
    <h2>Erro interno - tente novamente em outro momento!</h2>

    <a href="{{ url_for('index') }}">
        <i class="fa-solid fa-angles-left"></i>  Voltar a Home</a>
</div>
{% endblock %}