{% extends 'layouts/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('statics', path='css/contato.css') }}">
{% endblock %}

{% block banner %}
<p>{{describe}}</p>
<br>
<h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae sit expedita modi quasi molestias dicta. Inventore ullam dolor nulla magni accusantium. Placeat, ipsum harum eum eius tempora sed maiores eaque?</h2>
{% endblock %}

{% block content %}
<div class="homepage"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('statics', path='js/indexPage.js') }}"></script>
{% endblock %}
