{% extends 'layouts/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('statics', path='css/index.css') }}">
{% endblock %}

{% block banner %}
<div class="banner-index">
    <h1>Sistema de gestão, autenticação e permissionamento de usuários com FastAPI. Aplicativo experimental com finalidade de aprender o framework!</h1>
</div>
{% endblock %}

{% block content %}
<div class="homepage">

    <main class="homepage-content"> 
        <section class="techs-container">
            <article class="card">
                <span>🌐</span>
                <header>WebApp</header>
                <main>Interação com usuário</main>
                <footer>#WebApp #Monolito</footer>
            </article>
            
            <article class="card">
                <span>🧱</span>
                <header>Jinja2</header>
                <main>Templating</main>
                <footer>#ninja</footer>
            </article>

            <article class="card">
                <span>🖧</span>
                <header>API Rest</header>
                <main>Integração via API Rest. </main>
                <footer>#fechApiJS</footer>
            </article>
            
            <article class="card">
                <span>🚀</span>
                <header>Typer CLI</header>
                <main>Gestão via comando fast</main>
                <footer>$ fast --help</footer>
            </article>
                  
            <article class="card">
                <span>🐍</span>
                <header>Python</header>
                <main></main>
                <footer>#friendDoDev</footer>
            </article>

            <article class="card">
                <span>⚡</span>
                <header>FastAPI</header>
                <main>API Rest de qualidade!</main>
                <footer>#GET #POST #PUT #DELETE</footer>
            </article>
            
            <article class="card">
                <span>💽</span>
                <header>Databases</header>
                <main>Pronto para conectar ao <br> MySQL ou Postgres</main>
                <footer>#ORM #SQLModel</footer>
            </article>

            <article class="card">
                <span>💛</span>
                <header>Javascript</header>
                <main>VanilaJS</main>
                <footer>#ReactJS > #+JQuery #-DOM</footer>
            </article>

            <article class="card">
                <span>❤️</span>
                <header>Flex & Grid</header>
                <main>No Floats No Pain</main>
                <footer>#noFloat #noClear</footer>
            </article>
        </section>
    </main>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('statics', path='js/indexPage.js') }}"></script>
{% endblock %}
