
.btn {
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 15px 20px;
    color: var(--fg-dark);
    cursor: pointer;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}
.btn-primary {
    color: var(--fg-light);
    background-color: var(--cor-principal);
}
.btn-primary:hover {
    color: var(--fg-light);
    background-color: var(--hover-principal);
}
.btn-secondary {
    color: var(--fg-light);
    background-color: #555;
}
.btn-secondary:hover {
    color: var(--fg-light);
    background-color: #222;
}

#app {
    width: 100%;
    min-height: 100vh;
    font-size: 16px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.col-left {
    width: 40%;
    min-height: 100vh;

    color: var(--fg-dark);
    background-color: var(--fg-light);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.col-right {
    width: 60%;
    min-height: 100vh;
    padding: 55px 89px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 34px;

    background-color: var(--cor-principal);
}
@media (max-width: 800px) {
    #app {
        margin-top: 0px;
    }
}


.form-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-family: Poppins;
}
.form-auth label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
.form-auth label input {
    color: var(--fg-dark) !important;
    background-color: white;
    font-family: Poppins;
    padding: 13px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 5px 0px;
    transition: border .2s ease;
}
.form-auth label input:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.form-auth label input:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
}

.form-group {
    width: 100%;
    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-group p a {
    text-decoration: none;
    color: var(--cor-principal);
    border-bottom: 2px solid var(--cor-principal);
}
.form-group p a:hover {
    color: var(--hover-principal);
    border-bottom: 2px solid rgba(0, 0, 0, 0.0);
}
.form-validation-error {
    font-size: 13px;
    font-family: Poppins;
    color: rgb(212, 83, 83);
}
.form-validation-success {
    color: #019587;
    font-size: 13px;
}