
.btn {
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 15px 20px;
    color: #555;
    cursor: pointer;
    transition: background-color .2s ease;
}
.btn-primary {
    color: whitesmoke;
    background-color: #019587;
}
.btn-primary:hover {
    color: white;
    background-color: #09b3a2;
}
.btn-secondary {
    color: whitesmoke;
    background-color: #777;
}
.btn-secondary:hover {
    color: white;
    background-color: #555;
}

#app {
    width: 100%;
    min-height: 100vh;
    font-size: 16px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.col-left {
    width: 30%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.col-right {
    width: 70%;
    min-height: 100vh;
    padding: 55px 89px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;

    background-color: white;
}
@media (max-width: 800px) {
    #app {
        margin-top: 0px;
    }
}


.form-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-family: Poppins;
}
.form-auth label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
.form-auth label input {
    color: #555 !important;
    background-color: whitesmoke;
    font-family: Poppins;
    padding: 13px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 5px 0px;
    transition: border .2s ease;
}
.form-auth label input:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.form-auth label input:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
}

.form-group {
    width: 100%;
    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-validation-error {
    font-size: 13px;
    font-family: Poppins;
    color: rgb(212, 83, 83);
}
.form-validation-success {
    color: #019587;
    font-size: 13px;
}