.footer {
    width: 100%;
    padding: 50px 0px;
    color: var(--fg-dark);
    /* background-color: var(--green); */
    /* box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.15); */
}

.footer-container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
@media (max-width: 1100px) {
    .footer-container {
        flex-direction: column;
    }
}

.contatos {
    color: var(--fg-dark);
    font-size: 2rem;

    text-decoration: none;
    padding: 0;
    margin-left: 10px;
}