@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-destaque: lime;
    --cor-principal: #008b8b;
    --hover-principal: #00aaaa;
    --fg-dark: #353535;
    --fg-light: #fafafa;
    --bg-dark: #555;
    --bg-light: #d2d8dd;
    --max-width: 1200px;
    --min-height-banner: 350px;
}

html, body {
    color: var(--fg-dark);
    background-color: var(--bg-light);

    font-family: Poppins;
    font-size: 16px;
}

/* BANNER  BANNER  BANNER  BANNER  BANNER  BANNER */
.banner {
    color: var(--fg-light);
    background-color: var(--cor-principal);
    margin-top: 75px;
    min-height: var(--min-height-banner);
}
.banner-container {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
}
@media (max-width: 1100px) {
    .banner-container {
        flex-direction: column;
    }
}