@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: #555;
    background-color: #d2d8de;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
